
[Unit]
Description=Mattermost
After=network.target

[Service]
Type=simple
ExecStart={{ mattermost_root }}/bin/platform
Restart=always
RestartSec=10
WorkingDirectory={{ mattermost_root }}
User={{ mattermost_system_user }} 
Group={{ mattermost_system_group }}

[Install]
WantedBy=multi-user.target
